<div class="row mb-5">
<div class=col-md-3>
  <div class="card card-size">
  <div class="card-ht"><img class="card-img-top" src="/assets/picture1.jpg" alt="Card image cap"></div>    
    <div class="card-body text-center">
      <h6 class="card-title">Dancing in the ruins</h6>
      <p class="card-text artist-name">by Rucha Chattur</p>
      <p class="card-text small-price">$150</p>
      <small class="text-muted">Rent starts at $59/month</small>
    </div>
  </div></div>
  <div class=col-md-3>
  <div class="card card-size">
  <div class="card-ht">
    <img class="card-img-top" src="./assets/picture2.jpg" alt="Card image cap"></div>
    <div class="card-body text-center">
      <h6 class="card-title">Letting your hair down</h6>
      <p class="card-text artist-name">by Rucha Chattur</p>
      <p class="card-text small-price">$150</p>
      <small class="text-muted">Rent starts at $59/month</small>
    </div>
  </div></div>
  <div class=col-md-3>
  <div class="card card-size">
  <div class="card-ht">
    <img class="card-img-top" src="./assets/picture3.jpg" alt="Card image cap"></div>
    <div class="card-body text-center">
      <h6 class="card-title">Dazzled by Daisies</h6>
      <p class="card-text artist-name">by Rucha Chattur</p>
      <p class="card-text small-price">$150</p>
      <small class="text-muted">Rent starts at $59/month</small>
    </div>
  </div></div>
  <div class=col-md-3>
  <div class="card card-size">
  <div class="card-ht">
    <img class="card-img-top" src="./assets/picture4.jpg" alt="Card image cap"></div>
    <div class="card-body text-center">
      <h6 class="card-title">An evening by the bridge</h6>
      <p class="card-text artist-name">by Rucha Chattur</p>
      <p class="card-text small-price">$150</p>
      <small class="text-muted">Rent starts at $59/month</small>
    </div>
  </div></div>
</div>  
