<h1 class="display-4 heading">
  Hello, world!</h1>
<p class="lead sub-heading">This is a SPA developed by
  <b>
    <i>Himanshu Saraswat</i>
  </b> featuring some latest tech</p>
<hr class="my-4">
<div class="list-group">
  <a href="https://angular.io/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Angular 5.2.8 </h5>
    </div>
    <p class="mb-1">Efficiently this app is super fast in terms of load and user experience.</p>
    <small>Latest stable version of angular has been used -HS Designs</small>
  </a>
  <a href="https://picsum.photos/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Always get a new image in testimonial carousel</h5>
    </div>
    <p class="mb-1">Courtesy of the amazing picsum API , you will always get a new image in testimonial section.</p>
    <small>The amazing Math.random implementation -HS Designs</small>
  </a>
  <a href="https://getbootstrap.com/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Bootstrap 4.1.0</h5>
    </div>
    <p class="mb-1">To improve performance and save on server bandwidth, all resources are being downloaded via. CDN.</p>
    <small>Making responsive design a piece of cake -HS Designs</small>
  </a>
  <a href="https://fontawesome.com/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Font Awesome 5</h5>
    </div>
    <p class="mb-1">The latest font awesome library has been integrated. All icons come in as SVG implementation with a single JS iport</p>
    <small>It's really awesome -HS Designs</small>
  </a>
</div>