<ng-container *ngIf="user | async; else login">

  <div class="notification is-success">
    Congrats You logged in without a password!
  </div>

  <button (click)="logout()" class="btn col-sm-12 btn-primary">Signout</button>

</ng-container> 

<ng-template #login>
  <ngx-loading [show]="loading"></ngx-loading>
  <!-- <hr>
  <form [formGroup]="rForm">
    <div class="form-container">
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ titleAlert }}</div>
        <div *ngIf="emailSent" class="alert">
          Cool! We sent you an email with your login link
        </div>
        <div *ngIf="errorMessage" class="alert">
          {{ errorMessage }}
        </div>
      </div>
      <button type="submit" class="btn col-sm-12 btn-primary" (click)="sendEmailLink(email)" value="Submit Form" [disabled]="!rForm.valid">Get Login/Sign-Up Link</button>
    </div>
  </form> -->
  <user-form></user-form>
  <hr>
  
</ng-template>


