.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
    
}
.footer{
  color:#333;
  font-size: 80%;
  background: #F8F8F8
}
.ico-social{
    color:#EC5A93;
}
a {
    color: #333;
    }
    .font-sz{
      font-size:90%;
    }
