<div class="footer footer-splash container-lg mt-6" role="contentinfo">
<div class="d-flex flex-wrap justify-content-center padding-top-bottom">

    <div class="d-flex align-items-start flex-column col-12 col-md-2 mb-3">
      <a class="p-2"routerLink="/gallery">
        <img class="logo-footer" src="./assets/footerLogo@2x.png" alt="Spaces and stories logo">
      </a>
      <a class="p-2">
        <span>
          <i class="far fa-envelope p-1"></i>info@spacesnstories.com</span>
      </a>
      <a class="p-2">
        <span>
          <i class="fas fa-mobile-alt p-1"></i>700 123 5678</span>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
      <h6 class="mb-2">ARTWORKS</h6>
      <ul class="list-style-none text-gray">
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Paintings</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Photographs</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Painting Prints</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
      <h6 class="mb-2">CATEGORIES</h6>
      <ul class="list-style-none">
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Abstract</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Nature</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Animals</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Flowers</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Cityscapes</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
      <h6 class="mb-2">QUICK LINKS</h6>
      <ul class="list-style-none">
        <li class="lh-condensed mb-2">
          <a routerLink="/gallery" class="muted-link alt-text-small">Gallery</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">How It Works</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Get In Touch</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Delivery and Returns</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">FAQs</a>
        </li>
        <li class="lh-condensed mb-2">
          <a  class="muted-link alt-text-small">Legal</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3 ">
      <div class="ml-auto py-1">
        <h6 class="mb-2">FOLLOW US ON</h6>
        <a class="p-2">
          <i class="fab fa-facebook-f ico-social"></i>
        </a>
        <a class="p-2">
          <i class="fab fa-linkedin-in ico-social"></i>
        </a>
        <a class="p-2">
          <i class="fab fa-instagram ico-social"></i>
        </a>
      </div>
    </div>

  </div>


  <div class="d-flex flex-wrap pt-2">

    <div class="col-12 col-sm-12 col-md-12 pt-3 pb-3 pr-0 pl-0 text-white" style="background:#2E2925">
      <div class="ml-auto py-1">
        <h6 class="text-center font-sz">Copyright &#169; 2018 Spaces n Stories. All rights reserved.</h6>
      </div>
    </div>
  </div>