 form {
    min-height: 100vh;
}
.form-container {
    display:block;
    width:90%;
    padding-top:2em;
    margin: 2em auto;
    background:#fff;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-top: 0.5em;
    margin-bottom: 0;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 1em;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}