<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
      <button mat-raised-button color="primary" [disabled]="heroForm.pristine || heroForm.invalid" >Save</button>
    <!-- <button type="submit"
            >Save</button> &nbsp; -->
            <button class="margin-left10" mat-raised-button  >Cancel</button>
    <!-- <button type="button" (click)="revert()"
            [disabled]="heroForm.pristine" class="btn btn-danger">Revert</button> -->
  </div>

  <!-- Hero Detail Controls -->
  <div class="container" formGroupName="metadata">
      <div class="form-group">
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="heroForm.get('metadata.name').hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        </div>
        <div class="form-group">
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="heroForm.get('metadata.description').hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Weight" formControlName="weight">
              </mat-form-field>
        </div>
          <div class="form-group col-sm-2" formGroupName="category">Category
              <mat-radio-group class="example-radio-group" formControlName="artType">
                  <mat-radio-button class="example-radio-button" *ngFor="let artType of categories" [value]="artType">
                    {{artType}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="form-group row" *ngIf="heroForm.get('metadata.category.artType').value=='Paintings'" >
                  <div class="col-sm-2" formGroupName="medium">Medium
                        <mat-checkbox class="example-margin" formControlName="oilOnCanvas">Oil on Canvas</mat-checkbox>
                        <mat-checkbox class="example-margin" formControlName="watercolourOnCanvas">Watercolour on Canvas</mat-checkbox>
                        <mat-checkbox class="example-margin" formControlName="acrylicOnCanvas">Acrylic on Canvas</mat-checkbox>
                        <mat-checkbox class="example-margin" formControlName="watercolourOnPaper">Watercolour on Paper</mat-checkbox>
                        <mat-checkbox class="example-margin" formControlName="inkOnPaper">Ink on Paper</mat-checkbox>
                        <mat-checkbox class="example-margin" formControlName="mixedMedia">Mixed media</mat-checkbox>
                  </div>
                </div>
          

  <div formGroupName="dimension">
    Dimension
   <div class="form-group">
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="Height" formControlName="height">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input  matInput placeholder="Width" formControlName="width">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input  matInput placeholder="Depth" formControlName="depth">
            </mat-form-field>
  </div>
  </div>
    
  <div class="form-group radio" formGroupName="classification" >
    <h4>Classification</h4>
    <label class="center-block"><input  type="radio" formControlName="abstract" value=true>Abstract</label>
    <label class="center-block"><input type="radio" formControlName="nature" value=true >Nature</label>
    <label class="center-block"><input  type="radio" formControlName="animals" value=true >Animals</label>
    <label class="center-block"><input  type="radio" formControlName="flowers" value=true >Flowers</label>
    <label class="center-block"><input  type="radio" formControlName="cityscape" value=true >Cityscape</label>
  </div>
  <div class="checkbox">
      <mat-checkbox class="example-margin" formControlName="rent">Rent</mat-checkbox>
    
  </div>
   <div class="form-group" *ngIf="heroForm.get('metadata.rent').value">
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="Rent Price:" formControlName="rentPrice">
        </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Available From" formControlName="availableFrom">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Available To" formControlName="availableTo">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
  </div>
  
  <div class="checkbox">
      <mat-checkbox class="example-margin" formControlName="buy">Buy</mat-checkbox>
  </div>
   <div class="form-group" *ngIf="heroForm.get('metadata.buy').value">
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="Selling Price:" formControlName="sellingPrice">
        </mat-form-field>
  </div>
  <div class="checkbox">
      <mat-checkbox class="example-margin" formControlName="print">Print</mat-checkbox>
  </div>
   <div class="form-group" *ngIf="heroForm.get('metadata.print').value">
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="Price:" formControlName="printPrice">
        </mat-form-field>
  </div>
</div>
   <div class="form-group">
    <label for="file">Choose file upload</label>
    <input type="file" class="form-control-file"  id="file" (change)="onFileChange($event)" #fileInput>
  </div>
</form>
<!-- Uncomment for to see chamges to JSON -->
<!-- <p>heroForm value: {{ heroForm.value | json}}</p>  -->

<!-- <h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div> -->

