<div class="d-flex px-3 py-1 text-white black-bg">
  <a class="p-2" href="https://getbootstrap.com"><span class="text-white"><i class="far fa-envelope p-1"></i>info@spacesnstories.com</span></a>
  <a class="p-2"href="https://getbootstrap.com"><span class="text-white"><i class="fas fa-mobile-alt p-1"></i>700 123 5678</span></a>
      <div class="ml-auto py-1">
      <a class="p-2 text-white" href="https://getbootstrap.com"><i class="far fa-heart p-1 text-white"></i>Favorites</a>
      <a class="p-2 text-white" href="https://getbootstrap.com"><i class="fas fa-shopping-cart p-1 text-white"></i> Cart</a>
          <a class="p-2" href="https://getbootstrap.com"><i class="fab fa-facebook-f ico-social"></i></a>
          <a class="p-2" href="https://getbootstrap.com"><i class="fab fa-linkedin-in ico-social"></i></a>
          <a class="p-2" href="https://getbootstrap.com"><i class="fab fa-instagram ico-social"></i></a>
      </div>  
</div>