<app-nav></app-nav>
<nav class="navbar navbar-expand-lg pl-4">
  <span class="navbar-brand mb-0 h1">SpacesNStories</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="/home">Gallery
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="/artist">How It Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="/gallery">Get In Touch</a>
      </li>
       </ul>
      <ul class="navbar-nav ml-md-0">
    <li class="nav-item">
      <a class="nav-item nav-link btn btn-bd-download d-lg-inline-block mb-3 mb-md-0 ml-md-3 text-black" href="https://github.com/twbs/bootstrap/archive/v4.0.0.zip">Login / SignUp</a>
    </li>
  </ul>
  
      <!-- <li class="nav-item">
        <a *ngIf="!(auth.user | async);else alreadyLoggedIn"class="nav-link" routerLink="/login">Sign in</a>
        <ng-template #alreadyLoggedIn>
          <a class="nav-link" (click)="auth.signOut()">Sign out</a>
        </ng-template>
      </li> -->
   
  </div>
 
</nav>
 <div class=" pl-4"></div>