<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

  <h3>New User Signup</h3>
  <p class="button is-small" (click)="toggleForm()">Already Registered?</p>
  <hr>

  <label for="email">Email</label>
  <input type="email" id="email" class="input" formControlName="email" required autocomplete="new-password">

  <div *ngIf="formErrors.email" class="notification is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" class="input" formControlName="password" required>

  <div *ngIf="formErrors.password" class="notification is-danger">
    {{ formErrors.password }}
  </div>

  <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
  <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

</form>


<form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">

  <h3>Existing User Login</h3>
  <p class="btn button is-small" (click)="toggleForm()">New User1?</p>
  <hr>

  <label for="email">Email</label>
  <input type="email" id="email" class="input" formControlName="email" required autocomplete="new-password">

  <div *ngIf="formErrors.email" class="help is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" class="input" formControlName="password" required autocomplete="new-password">

  <div *ngIf="formErrors.password" class="help is-danger">
    {{ formErrors.password }}
  </div>

  <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

  <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>

  <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
  <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

</form>


<!-- <ng-container *ngIf="(auth.user | async) || {} as user">

  <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">

    <h3>New User Signup</h3>

    <label for="email">Email</label>
    <input type="email" formControlName="email">


    <div *ngIf="email.invalid && email.dirty">
      Your email doesn't look quite right...
    </div>

    <label for="password">Password</label>
    <input type="password" formControlName="password" required>

    <div *ngIf="password.invalid && password.touched">
      Password must be between 6 and 24 chars and have at least one number
    </div>

    <div *ngIf="signupForm.valid">Form looks good! Let's do this.</div>

    <button type="submit" [disabled]="!signupForm.valid">Submit</button>


  </form>



  <form [formGroup]="detailForm" *ngIf="user.uid && !user.catchPhrase" (ngSubmit)="setCatchPhrase(user)">

    <h3>Set your Catch Phrase</h3>

    <label for="catchPhrase">CatchPhrase</label>
    <input type="test" formControlName="catchPhrase">


    <button type="submit" [disabled]="!detailForm.valid">Submit</button>


  </form>

  <p *ngIf="user.catchPhrase">
    You have completed the form!
  </p>

</ng-container> -->

<!-- <div *ngIf="auth.user | async; then authenticated else guest"> -->
  <!-- template will replace this div -->
<!-- </div> -->


<!-- User NOT logged in -->
<!-- <ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()">
    <i class="fa fa-google"></i> Connect Google
  </button>

</ng-template> -->


<!-- User logged in -->
<!-- <ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.favoriteColor }} </p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template> -->