#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
  min-height: 100vh;
}
.container::after {
  content: '';
  background: url(../assets/container-splash.svg) no-repeat right 100%;
  max-height: 335px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: 400px auto;
  right: 0;
  background-position: 110% 0%;
  bottom: 353px;
  
}
