<ngx-loading [show]="loading"></ngx-loading>
<div *ngIf="!(auth.user|async);">
<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">
  <div class="form-container">
    <h3>New User Signup</h3>
    <p class="btn col-sm-2 btn-primary" (click)="toggleForm()">Already Registered?</p>
    <hr>

    <div class="form-group">
      <input type="email" id="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email"
        required autocomplete="new-password">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div *ngIf="formErrors.email" class="alert">
        {{ formErrors.email }}
      </div>
      <input type="password" id="password" placeholder="Enter password" class="form-control" formControlName="password" required>

      <div *ngIf="formErrors.password" class="alert">
        {{ formErrors.password }}
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert">
      {{ errorMessage }}
    </div>
    <button type="submit" class="btn col-sm-12 btn-primary" [disabled]="!userForm.valid">Submit</button>
  </div>
</form>


<form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">
  <div class="form-container">
    <h3>Existing User Login</h3>
    <p class="btn col-sm-2 btn-primary" (click)="toggleForm()">New User?</p>
    <hr>
    <div class="form-group">
      <input type="email" id="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email"
        required autocomplete="new-password">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div *ngIf="formErrors.email" class="alert">
        {{ formErrors.email }}
      </div>
      <input type="password" id="password" placeholder="Enter password" class="form-control" formControlName="password" required
        autocomplete="new-password">

      <div *ngIf="formErrors.password" class="alert">
        {{ formErrors.password }}
      </div>
    </div>

    <button type="submit" class="btn col-sm-12 btn-primary" [disabled]="!userForm.valid">Submit</button>
    <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
  </div>
</form>
</div>
