<div *ngIf="!email; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ titleAlert }}</div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea placeholder="Enter a message" class="form-control" formControlName="description" rows="3"></textarea>
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 10 and 500 characters.</div>
      </div>
      <div class="custom-file mb-3">
        <input type="file" name="file" id="file" (change)="startUpload($event.target.files)" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
      </div>
      <button type="submit" class="btn col-sm-12 btn-primary" value="Submit Form" [disabled]="!rForm.valid">Submit</button>
    </div>
  </form>
  <!-- <upload-page (messageFile)="receiveFile($event)"></upload-page> -->
</div>

<ng-template #forminfo>
  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div class="col-sm-12" style="padding-top: 3em;">
        <h1>Thanks {{ email }} for your message !!</h1>
      </div>
      <div class="col-sm-12">
        <p>Thanks for exploring, to learn more visit
          <a href="https://digisquire.co/learnNshare.html" target="_blank">https://digisquire.co/learnNshare.html</a>
        </p>
      </div>

    </div>
  </div>
</ng-template>